root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
ij_kotlin_packages_to_use_import_on_demand = unset
ij_kotlin_name_count_to_use_star_import = 7
ij_kotlin_name_count_to_use_star_import_for_members = 9
ij_kotlin_allow_trailing_comma_on_call_site = false
# noinspection EditorConfigKeyCorrectness
ktlint_code_style = intellij_idea

[*.{yml,yaml}]
indent_size = 2